<div><div><a href="/rock">Play Rock</a></div>
<div><a href="/paper">Play Paper</a></div>
<div><a href="/scissors">Play Scissors</a></div></div>

<p>We played paper!</p>
<p>They played <%=@random_move%>!</p>
<p>We <%=@outcome%>!</p>

<a href="../">Rules</a>
